# app
Django<2.0
futures>=3.2.0,<3.3
six>=1.11.0,<1.12

# test
coveralls==0.5
mock==2.0.0
pytest-cov==1.8.1
py==1.4.26
pytest==2.6.4
pytest-django==2.8.0

# dev
flake8==2.4.0
mccabe==0.3
pep8==1.5.7
pyflakes==0.8.1
